.blueBox
	h2 Welcome to the Lahar exercise page



.blueBox DEMO accounts passwords are 12345</br>Leading accounts in every group are the teachers and rest are students

.blueBox(style='width 33%; display:inline-block; border: 1px solid #1C252B;margin:.3em') Declan De Paor ddepaor@odu.edu
	p s@odu.edu</br> l@odu.edu</br> k@odu.edu</br> t@odu.edu</br> c@odu.edu</br>

.blueBox(style='width 33%; display:inline-block;border: 1px solid #1C252B;margin:.3em') Steven	Whitmeyer whitmesj@jmu.edu
	p j@jmu.edu </br> d@jmu.edu</br> a@jmu.edu</br> k@jmu.edu</br> n@jmu.edu</br>

.blueBox(style='width 33%; display:inline-block; border: 1px solid #1C252B;margin:.3em') John	Doe		john@www.org
	p cc@www</br> c@www</br> n@www</br> j@www</br> m@www</br>



#logingIn
	h3 Sign in
	form(action='/', method='POST')
		p
			label(for='login') Email:</br>
			input(type='text', name='username', id='username', style='width:95%; margine: 3px')
			script
				document.getElementById('username').focus()
		p
			label(for='password') Password:</br>
			input(type='password', name='password',style='width:95%; margine: 3px', id='password')
		p
			input(type='submit', class='button', style='float:right', value='Sign in')

	#helpMe.blueBox
		a(href='/new') New Account
		| &nbsp
		a(href='/new/retrieve') Forgot Password

