
#logingIn
	h3 Please log in
	form(action='/', method='POST')
		p
			label(for='login') Email:</br>
			input(type='text', name='username', id='username')
		p
			label(for='password') Password:
			input(type='password', name='password', id='password')
		p
			input(type='submit')

	#helpMe.blueBox
		a(href='/new', font(size='.1em')) New Account |
		a(href='new/retrieve') Forgot Password