script(src='http://128.82.242.213:3000/socket.io/socket.io.js')
script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAABHNYfw0c8TY6Kky2VsUIZBRxJlqEZOtgAh70Ol2NSRYv2PjlVBSDCmUQ6agcFV6SxfsHMzbanQvMJg')
script(type='text/javascript', src='/javascripts/content.js')
script(type='text/javascript', src='/javascripts/teacher.js')
script(type='text/javascript', src='/javascripts/scr.js')

span.rightPart.blueBox Time left:
	progress#countDownProgress(value='100', max='100')
	span.smallFont#countDown

span.leftPart
	input#toggleTerrain(type='button', class='button', name='terrain', value='Terrain ON/OFF', onclick='VFT.lahar.teacher.buttons.setTerrain()')
	span(title='Set map transparency').blueBox Map transparency&nbsp
		input#mapTransparency(type='range', min='1', max='100', value='100', onchange='VFT.lahar.opacity(this.value/100)')

	span.leftSpacer
		input#startExercise(type='button', class='button', name='start', value='Start', onclick='VFT.lahar.teacher.buttons.start()')
		input#timeAvailable(type='text',class='traBlue',size='12', placeholder='Time in minutes...')
		input#stopExercise(type='button', name='stop', class='button', value='Stop', onclick='VFT.lahar.teacher.buttons.stop()')
		span(title='Give the corect answer to students after they sumbit their answer').blueBox Evacuate?
			input#answer(type='checkbox', name='answer', value='Evacuate?')
#map3d
#legend(style='position:absolute; left:17px; top:61px; width:1.6em; height:1.47em')
		#preko1(style='position:absolute; left:0; top:0; width:100%; height:100%; z-index:9')
			.blueBox2
				input#legendButton(type='button', value='+', onclick='VFT.lahar.teacher.buttons.list()')
				|&nbspStudent answers
			#results(style='overflow: auto; background-color:#CCFFFF; display:none')
		iframe(style='position:absolute; left:0px; top:0px; width:100%; height:100%; z-index:8', frameborder='0', scroling='no', scr='javascript:void(0)')

#studentInterface
	#chatBox
	div
		input#message(type='text', onkeypress='VFT.helpers.onEnter(event)')
		input#chatSend(type='button', name='Send', value='Send', onclick='VFT.helpers.sendMessage()')
