script(src='http://128.82.242.213:3000/socket.io/socket.io.js')
script(type='text/javascript', src='http://www.google.com/jsapi?key=ABQIAAAABHNYfw0c8TY6Kky2VsUIZBRxJlqEZOtgAh70Ol2NSRYv2PjlVBSDCmUQ6agcFV6SxfsHMzbanQvMJg')
script(type='text/javascript', src='/javascripts/content.js')
script(type='text/javascript', src='/javascripts/teacher.js')
script(type='text/javascript', src='/javascripts/scr.js')

span.rightPart.blueBox Time left: 
	progress#countDownProgress(value='100', max='100')
	span.smallFont#countDown

span.leftPart
	input#toggleTerrain(type='button', class='button', name='terrain', value='Terrain ON/OFF', onclick='VFT.lahar.teacher.buttons.setTerrain()')
	span.blueBox Map transparency
			input#mapTransparency(type='range', min='0', max='100', value='100', onchange='VFT.lahar.opacity(this.value/100)', title='Set map transparency')


	input#startExercise(type='button', class='button', name='start', value='Start', onclick='VFT.lahar.teacher.buttons.start()')
	input#timeAvailable(type='text', placeholder='Time in minutes...')
	input#stopExercise(type='button', name='stop', class='button', value='Stop', onclick='VFT.lahar.teacher.buttons.stop()')

#map3d

#studentInterface
	#chatBox
	div
		input#message(type='text', onkeypress='VFT.helpers.onEnter(event)')
		input#chatSend(type='button', name='Send', value='Send', onclick='VFT.helpers.sendMessage()')
