.box
	h3 Enter new password for #{email}
	p
		form(action='/new/retrieve/newpassword', method='POST')
			p Enter new password and confirm it beneath.
			.inputAlined
				input(type='password', name='password', id='password', placeholder='Enter password...')
			.inputAlined
				input(type='password', name='verifyPassword', id='verifyPassword', placeholder='Confirm password...')
			.inputAlined
				input(type="hidden", name='email', id='email', value='#{email}')
			.inputAlined
				input(type="hidden", name='token', id='token', value='#{token}')	
		
			input(type='submit', class='button')