.box
	h3 Create new account for student:
	form(action='/new/student', method='POST')
		p
			label(for='teacherId') Enter Teacher ID:
		p
			input(type='text', name='teacherId', id='teacherId')
		p
			input(type='submit', class='button')