.box
	h3 Welcome!
	p Please enter the key sent to you by administrator to create your account
	p 
		form(action='/new/teacher', method='POST')
			input(type='text', name='accountId', id='accountId')
			input(type='submit')